body{
	margin: 0 20px;
	font-family: "Futura";
}

ol{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
}

ol li{
	width: 14.25%;
	border-right: 2px solid #fff;
}

a{
	text-decoration: none;
}

ol li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

ol li:nth-child(1){
	background-color: darkred;
}

ol li:nth-child(2),
ol li:nth-child(5){
	background-color: red;
}

ol li:nth-child(3),
ol li:nth-child(4),
ol li:nth-child(7)
{
	background-color: darkblue;
}

ol li:nth-child(6){
	background-color: green;
}


#mainText{
	display: flex;
	justify-content: space-between;
}

.letter{
	font-size: 150px;
}

.navpart{
	list-style-type: none;
	border-bottom: 2px solid darkblue;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0; 
	position: relative;
}

.navpart a{
    color: darkblue;

}

#barText{
	color: #fff;
	background-color: darkblue;
	margin: 0;
	text-align: center;
	padding-bottom: 3px;
	width: 1000px;
	position: absolute;
	right: 400px;
}

#top{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

h3{
	font-weight: 500;
	font-size: 23px;
}

button{
	background-color: darkblue;
	color: #fff;
}


#navigation-part{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkblue;

}


.navi{
	list-style-type: none;
	display: flex;
    margin: 0;
    padding: 5px;
}

.navi div{
	line-height: 0.8;
}

.navi a{
	text-decoration: underline;
	padding-right: 20px;
	font-weight: bold;
	color: darkblue;
}

.navi .notheavy {
	font-weight: 200;
	text-decoration: none;
}

#main{
	display: flex;
}

#left{
	width:15%;
}

#left, #right{
     padding: 20px;
}

#left input{
	margin-bottom: 20px;
}

.navig{
	display: flex;
	list-style-type: none;
}

.navig a{
	font-weight: bold;
	color: darkblue;
}

#right{
	width: 100%;
}

#images{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 40px 0; 
}

figure{
	border-top: 1px solid darkblue;
	border-bottom: 1px solid darkblue;
	border-left: 1px solid darkblue;
	padding: 50px 20px;
	width: 33%;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

figure:nth-child(3){
	border-right: 1px solid darkblue;
}

img{
   width: 450px;
}

figcaption{
	align-self: flex-start;
	padding:20px 0 0;
	color: darkblue;
}


#main p{
	margin: 0;
}